{% assign navigation = site.data.navigation %}
{% assign previous=null %}
{% assign next=null %}
{% assign get=0 %}
  {% for nav in navigation.sideMenu %}
    {% if nav.children != null %}
      {% for child in nav.children %}

        {% if child.url and get==1 %}
          {% assign next=child %}
          {% assign get=2 %}
        {% endif %}

        {% if child.url == page.url %}
          {% assign get = 1 %}
        {% endif %}

        {% if child.url and get==0 %}
          {% assign previous=child %}
        {% endif %}

      {% endfor %}

    {% endif %}

  {% endfor %}

  {% if previous or next %}
    <nav class="pagination">
      {% if previous %}
        <a href="{{ previous.url | absolute_url }}" class="pagination--pager" title="{{ page.previous.title | markdownify | strip_html }}">{{ site.data.ui-text[site.locale].pagination_previous | default: "Previous" }}</a>
      {% endif %}
      {% if next %}
        <a href="{{ next.url | absolute_url }}" class="pagination--pager" title="{{ next.title | markdownify | strip_html }}">{{ site.data.ui-text[site.locale].pagination_next | default: "Next" }}</a>
      {% endif %}
    </nav>
  {% endif %}
