<script src="{{ '/assets/js/main.min.js' | absolute_url }}"></script>

{% include analytics.html %}
{% include /comments-providers/scripts.html %}
<script>
$(document).ready(function(){
	$("#accordian .nav__sub-title").click(function(){
		//slide up all the link lists
		$("#accordian ul ul").slideUp();
		//slide down the link list below the h3 clicked - only if its closed
		if(!$(this).next().is(":visible"))
		{
			$(this).next().slideDown();
		}
	})
})
</script>

{% if page.mathjax %}
<script type="text/javascript" async
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
{% endif %}
